// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;




/* Coolors Exported Palette - coolors.co/ffc15e-f7b05b-f7934c-cc5803-1f1300 */
/* RGB */
$color1: rgba(255, 193, 94, 1);   /* yellow */
$color2: rgba(247, 176, 91, 1);   /* yellow bit darker*/
$color3: rgba(247, 147, 76, 1);   /* yellow orange  */
$color4: rgba(204, 88, 3, 1);     /* darker orange */
$color5: rgba(31, 19, 0, 1);      /* licorice --> text */
