<div class="container">
  <div class="row">
    <div class="col-10 offset-1">

<h1> The big bosses </h1>
      <div class="cards d-flex justify-content-center">
        <div class="staff-card text-center">
          <img class="staff-img card-img-top" src="https://files.slack.com/files-pri/T02NE0241-FUMV78PFA/theophoto.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Theo</h5>
            <p class="card-text"><strong>CEO</strong> of <strong>VAYCAR!</strong>.</p>
          </div>
        </div>

        <div class="staff-card text-center" >
          <img class="staff-img card-img-top" src="https://files.slack.com/files-pri/T02NE0241-FUAF68N2X/profile.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Tereza</h5>
            <p class="card-text"> <strong>Full stack</strong> developer.</p>
          </div>
        </div>

        <div class="staff-card text-center" >
          <img class="staff-img card-img-top" src="https://files.slack.com/files-pri/T02NE0241-FTMFFRR5J/photo.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Maxim</h5>
            <p class="card-text"> <strong>Full stack</strong> developer.</p>
          </div>
        </div>


        <div class="staff-card text-center" >
          <img class="staff-img card-img-top" src="https://ca.slack-edge.com/T02NE0241-US84LM57D-1acd2fe1f952-192" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Iris</h5>
           <p class="card-text"> <strong>Full stack</strong> developer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


