<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://www.bestholidaytips.co.uk/wp-content/uploads/2018/07/hiring-a-car-on-holiday.jpg);">
  <div class="container">
    <h1>  <strong>VAYCAR</strong>!</h1>
    <p>The easy way to rent or park your car at the airport.</p>
  </div>
</div>

<div class="cards d-flex justify-content-center">
  <div class="card text-center" style="width: 24rem;">
    <img class="card-img-top" src="https://www.directverzekerd.nl/wp-content/uploads/2016/10/car-key-in-hand.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">List your car here!</h5>
      <p class="card-text">You want to <strong>earn money</strong> while on <strong>holiday</strong>.</p>
      <%= link_to "Add your car",  new_car_path, {class: "card_action btn btn-primary"} %>
    </div>
  </div>

  <div class="card text-center" style="width: 24rem;">
    <img class="card-img-top" src="https://www.creterentcar.com/wp-content/uploads/2016/10/021-rent-a-car-in-crete-car-rental-crete-rent-a-car-crete-crete-car-rental-crete-car-hire-crete-autorental-crete-rent-986x500.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Find your car!</h5>
      <p class="card-text">You want to rent a car at <strong>the airport</strong>.</p>
      <%= link_to "Search a car",  cars_path, {class: "card_action btn btn-primary"} %>
    </div>
  </div>
</div>

<div class="reviews-container">
<h3 id="reviews-header">Customer Reviews</h3>
<div class="reviews-home d-flex justify-content-center">

  <div class="review-card">
    <div class="review-header">
      <h4>Great Idea</h4>
      <img class="avatar review-avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
    </div>
    <div class="review-content">
      <p class="review-text">Easy to use so much quicker than using the car hire centre at the airport. Very reasonably priced and both staff members i dealt with were very friendly and upbeat, nice to be welcomed by a smiling face. Will use again.</p>
      <span class="star-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
      <p class="review-author">Caroline Baird</p>
      <p class="review-place">Amsterdam, NL</p>
    </div>
  </div>

  <div class="review-card">
    <div class="review-header">
      <h4>Impressive</h4>
      <img class="avatar review-avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
    </div>
    <div class="review-content">
      <p class="review-text">Very impressed! We left our car with Vaycar when on a 2 week holiday and were very pleased with the service, and we made some profit. Will definitely be doing this again!</p>
      <span class="star-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
      <p class="review-author">David Smith</p>
      <p class="review-place">Miami, FL, USA</p>
    </div>
  </div>

  <div class="review-card">
    <div class="review-header">
      <h4>Amazing!</h4>
      <img class="avatar review-avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/krokrob" />
    </div>
    <div class="review-content">
      <p class="review-text">Service was excellent! Staff are friendly and engaged. Appreciated being contacted directly by an actual person whom I can reply to by phone or text if I need help.</p>
      <span class="star-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
      <p class="review-author">Ray Foster</p>
      <p class="review-place">Brisbane, AUS</p>
    </div>
  </div>

  <div class="review-card">
    <div class="review-header">
      <h4>Yay VayCar!</h4>
      <img class="avatar review-avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
    </div>
    <div class="review-content">
      <p class="review-text">Quick, easy and comfortably my most pleasurable experience hiring a car. Paula at Gatwick airport was very friendly and professional. The next time I am at Gatwick and hiring a car there is only one place I will be thinking of.</p>
      <span class="star-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
      <p class="review-author">Maria Thompson</p>
      <p class="review-place">London, UK</p>
    </div>
  </div>
</div>
</div>
