<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://www.bestholidaytips.co.uk/wp-content/uploads/2018/07/hiring-a-car-on-holiday.jpg);">
  <div class="container">
    <h1>  <strong>VAYCAR</strong>!</h1>
    <p>The easy way to rent or park your car at the airport.</p>
  </div>
</div>

<div class="cards d-flex justify-content-center">
  <div class="card text-center" style="width: 24rem;">
    <img class="card-img-top" src="https://www.directverzekerd.nl/wp-content/uploads/2016/10/car-key-in-hand.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">List your car here!</h5>
      <p class="card-text">You want to <strong>earn money</strong> while on <strong>holiday</strong>.</p>
      <%= link_to "Add your car",  new_car_path, {class: "card_action btn btn-primary"} %>
    </div>
  </div>

  <div class="card text-center" style="width: 24rem;">
    <img class="card-img-top" src="https://www.creterentcar.com/wp-content/uploads/2016/10/021-rent-a-car-in-crete-car-rental-crete-rent-a-car-crete-crete-car-rental-crete-car-hire-crete-autorental-crete-rent-986x500.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Find your car!</h5>
      <p class="card-text">You want to rent a car at <strong>the airport</strong>.</p>
      <%= link_to "Search a car",  cars_path, {class: "card_action btn btn-primary"} %>
    </div>
  </div>
</div>


