<h1>dashboard for owners</h1>
<h2>all your cars</h2>

<% @cars.each do |car|%>
<p><%= car.brand %></p>
<% end %>

<h2>all your requests</h2>
<% @requests.each do |request|%>

<p><%= request.car_id %></p>
<p><%= request.status %></p>


<% end %>
