<h1>dashboard for user</h1>

<%= link_to "rent out cars!", dashboard_owner_path(@user), class: "btn btn-primary btn-lg" %>


<h2>all your requests</h2>
<% @requests.each do |request|%>
<p><%= request.car_id %></p>
<p><%= request.status %></p>


<!-- will be implemented when request has a destroy method
 -->
 <%#= link_to "delete request", delete_request_path(request), class: "btn btn-primary btn-lg" %>

<% end %>

<%= link_to "browse cars", cars_path(request), class: "btn btn-primary btn-lg" %>
