.card {
  overflow: hidden;
  height: 500px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 20px;
  width: 400px;
  border-radius: 5px;
}

.card_action {
    position: absolute;
    left: 82px;
    bottom: 25px;
}
