.card-review {
  padding: 9px 41px;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
  margin-bottom: 4px;
  border: 2px solid #1EDD88;
  padding-top: 21px;

}

.card-review h6 {
  padding-top: 12px;
}
