.index-car-card {
  width: 100%;
  height: 330px;
  box-shadow: 3px -2px 9px 0px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 4px;
  position: relative;
  background-size: cover;
  background-position: center;

  h3 > a {
    color: white;
    opacity: 0.8;
  }
}

.price-card {
    position: absolute;
    bottom: 0px;
    right: 24px;
    color: white;
    opacity: 0.8;
    font-weight: bold;
}

.car-grid {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 32px;
}

.car-delete {
  position: absolute;
  top: 8px;
  right: 14px;
  color: #ef5350;
  &:hover {
    color: #f44336;
  }
}

.index-car-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

@media(max-width: 992px) {
 .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}

.car-seats-logo img{
    position: absolute;
    top: 4px;
    left: 15px;
    color: white;
    width: 20px;
    height: 20px;
}

.car-seats-logo {
    position: absolute;
    top: 13px;
    left: 13px;
    color: white;
    width: 20px;
    height: 20px;
}
