.index-car-card-owner {
  width: 160px;
  height: 160px;
  box-shadow: 3px -2px 9px 0px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 4px;
  position: relative;
  background-size: cover;
  background-position: center;

  p > a {
    color: white;
    opacity: 0.8;
  }
}

.index-car-card-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 32px;
}

.index-car-card-delete {
  position: absolute;
  top: 8px;
  right: 14px;
  color: #ef5350;
  &:hover {
    color: #f44336;
  }
}

.index-car-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.fa-trash-alt{
  color: $color3;
}

@media(max-width: 992px) {
 .index-car-card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .index-car-card-grid  {
    grid-template-columns: 1fr;
  }
}

