.reviews-home{

}

.review-card {
  overflow: hidden;
  height: 400px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 20px;
  width: 280px;
  border-radius: 5px;
  padding: 20px;
}
