<div class="container">
<h1>Cars List</h1>
      <h1>The car you choose. No counters, no queues, no hidden extras</h1>
      <h2>Hire cars from people like you</h2>
      <p>Seach Bar Below</p>
          <div class="container">
            <div class="car-grid">
              <% @cars.each do |car| %>
              <div class="index-car-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path car.photo.attached? ? car.photo.key : "injcuuecln8fvf2vo2zg", width: 400, height: 300, crop: :fill, :cloud_name => "dir0nw4ok"%>');">
                <h3><%= link_to "#{car.brand}", car_path(car.id) %></h3>
                <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
